.navbar {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.content{
  margin-top: 80px;
}
